<h2>{{title}}</h2>
<div class='drilldown-overview'>
  <div class="de-emphasize drilldown-info">{{date}}</div>

  {{#if breakdown}}
    {{#counts}}
      <ul class="drilldown-counts list-inline">
        <li class="positive">Positive: {{positive}}</li>
        <li class="negative">Negative: {{negative}}</li>
        <li class="neutral">Neutral: {{neutral}}</li>
      </ul>
    {{/counts}}

    {{#proportions}}
      <ul class="drilldown-breakdown list-inline">
        <li class="positive-proportion" style="width: {{positive_proportion}}%"></li>
        <li class="negative-proportion" style="width: {{negative_proportion}}%"></li>
        <li class="neutral-proportion" style="width: {{neutral_proportion}}%"></li>
      </ul>
    {{/proportions}}
  {{/if}}

  {{#counts}}
    <div class="de-emphasize drilldown-info">{{total}} total tweets </div>
  {{/counts}}
</div>

{{#groups}}
  <article class="tweet-group">
    {{#if subtitle}}<h3 class="sidebar-subtitle {{sentiment}}">{{subtitle}}</h3>{{/if}}
    <ol>
      {{#tweets}}
      <li class="sidebar-tweet tweet-icon-before">
        <span class="username">{{username}}</span>
        <p class="text">{{text}}</p>
      </li>
      {{/tweets}}
    </ol>
  </article>
{{/groups}}