<!DOCTYPE html>
<html>
  <head>
    <title>Tasa</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= image_tag 'http://www.netanimations.net/4dol3d.gif' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
